.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header{
  background-color: #122546;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.flex{
  display: flex;
}

.column{
  display: flex;
  flex-direction: column;
}

.center{
  justify-content: center;
  align-items: center;
}

.align-item-c{
  align-items: center;
}

Body{
 height: 100vh;
}

div#root,.App{
  height: 100%;
}

.h-full{
  height: 100%;
}

.h-ex-full{
  height: 90%;
}

.h-half{
  height: 50%;
}

.h-medium{
  height: 40%;
}

.h-ex-half{
  height: 35%;
}

.h-small{
  height: 25%;
}

.h-tiny{
  height: 10%;
}

.App{
  background-color: #122546;
}

.w-ex-tiny{
  width: 5%;
}

.w-tiny{
  width: 10%;
}

.w-ex-small{
  width: 15%;
}

.w-m-small{
  width: 20%;
}

.w-small{
  width: 25%;
}

.w-ex-half{
  width: 35%;
}

.w-medium{
  width: 40%;
}

.w-half{
  width: 50%;
}

.w-medium-ex-half{
  width: 65% !important;
}

.w-medium-half{
  width: 75% !important;
}

.w-ex-full{
  width: 80% !important;
}

.w-full{
  width: 100% !important;
}

.cnt-full{
  width: 100%;
  height: 100%; 
}

.f-start{
  justify-content: flex-start;
}

.f-center{
  justify-content: center;
}

.d-inline-f{
  display: inline-flex;
}

.rad-tiny{
  border-radius: 5px;
}

.absolute{
  position: absolute;
}

input#homePage{
  padding-left: 7%;
  outline: unset;
  border: unset;
}

.main-tab-left, .main-tab-right{
  background-color: #FFFFFF;
}

.main-tab-left-radius{
  border-radius: 160px 0px 0px 0px;
}

.border-right{
  border-right: 1px solid #E0E6ED;
}

/* .dummy{
  height: 10%;
  width: 10%;
  background-color: tomato;
  color: white;
} */

.p-top-ex-tiny{
  padding-top: 5%;
}

.p-top-tiny{
  padding-top: 10%;
}

.p-top-ex-small{
  padding-top: 15%;
}

.p-top-m-small{
  padding-top: 20%;
}

.p-top-small{
  padding-top: 25%;
}

.p-top-ex-half{
  padding-top: 35%;
}

.p-top-medium{
  padding-top: 40%;
}

.p-top-half{
  padding-top: 50%;
}

/*  */

.p-left-ex-tiny{
  padding-left: 5%;
}

.p-left-tiny{
  padding-left: 10%;
}

.p-left-ex-small{
  padding-left: 15%;
}

.p-left-m-small{
  padding-left: 20%;
}

.p-left-small{
  padding-left: 25%;
}

.p-left-ex-half{
  padding-left: 35%;
}

.p-left-medium{
  padding-left: 40%;
}

.p-left-half{
  padding-left: 50%;
}

/*  */

.p-right-ex-tiny{
  padding-right: 5%;
}

.p-right-tiny{
  padding-right: 10%;
}

.p-right-ex-small{
  padding-right: 15%;
}

.p-right-m-small{
  padding-right: 20%;
}

.p-right-small{
  padding-right: 25%;
}

.p-right-ex-half{
  padding-right: 35%;
}

.p-right-medium{
  padding-right: 40%;
}

.p-right-half{
  padding-right: 50%;
}

/*  */

.m-top-ex-tiny{
  margin-top: 5%;
}

.m-top-tiny{
  margin-top: 10%;
}

.m-top-ex-small{
  margin-top: 15%;
}

.m-top-m-small{
  margin-top: 20%;
}

.m-top-small{
  margin-top: 25%;
}

.m-top-ex-half{
  margin-top: 35%;
}

.m-top-medium{
  margin-top: 40%;
}

.m-top-half{
  margin-top: 50%;
}

/*  */

.m-right-ex-tiny{
  margin-right: 5%;
}

.m-right-tiny{
  margin-right: 10%;
}

.m-right-ex-small{
  margin-right: 15%;
}

.m-right-m-small{
  margin-right: 20%;
}

.m-right-small{
  margin-right: 25%;
}

.m-right-ex-half{
  margin-right: 35%;
}

.m-right-medium{
  margin-right: 40%;
}

.m-right-half{
  margin-right: 50%;
}

div#MainOption.flex.w-full.center:hover{
  cursor: pointer;
  background-color: #E1ECFF;
  border-radius: 0px 50px 50px 0px;
  transition: ease-in-out 0.4s;
}


div#CreateNew{
  border-radius: 60px;
  box-shadow: 1px 1.5px 1px 0px #888888;
}


div#CreateNew:active {
  box-shadow: 1px 1.5px 1px -1px #888888;
  opacity: 0.6;
  transition: ease-out 0.05s;
  /* box-shadow: unset; */
  /* color: #4a4a4a !important; */
}

div{
  color: #5F6368;
}

div#MainOption.flex.w-full.center.active{
  background-color: #E1ECFF;
  border-radius: 0px 50px 50px 0px;
  transition: ease-in 0.4s;
}

.end{
  justify-content: flex-end;
}

.start{
  justify-content: flex-start;
}

div#MainOption{
  height: 8% !important;
}

.modal{
  border-radius: 30px;
  top: 20%;
  background-color: #FFFF;
}

div#modal{
  background-color: rgb(0, 0, 0, 0.4);
}

div#modal-header{
  height: 15%;
  width: 100%;
}

div#modal-title{
  height: 95%;
  width: 100%;
  padding-top: 2%;
  font-size: 25px;
}

hr#m-hr{
  height: 5%;
  width: 90%;
  border: unset;
  background-color: #3C4055;
}

div#modal-body{
  height: 70%;
  /* background-color: blue; */
}

div#modal-body > div{
  flex-direction: column;
}

div#m-content-left{
  width: 50% !important;
  align-items: end;
}

/* div#modal-body > div{
width: 30%;
} */

div#modal-footer{
  height: 15%;
}

/* div#m-content-right{
  width: 30%;
} */

div#modal-footer > button{
  background-color: #3C4055;
  border: unset;
  width: 90%;
  color: #FFFFFF;
  border-radius: 10px;
  /* font-size: 15px; */
  letter-spacing: 5px;
  height: 50%;
  font-weight: 700;
}

div#picker .DayPickerInput > input{

}

input#m-input, .DayPickerInput > input{
  border: 2px solid rgb(0, 0, 0, 0.2);
  height: 30%;
  width: 100% ;
  border-radius: 5px;
}


.w-medium-ex-half.h-full > div {
  text-align: start;
  color: #3C4055;
  font-weight: 500;
  margin-bottom: 2%;
}

.w-medium-ex-half.h-full{
  display: flex;
  justify-content: end;
  flex-direction: column;
}


div#m-field{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  align-items: start;
}